.modal-container{
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: none;
    background-color: rgba(2, 2, 2, 0.649);
}
.modal-container.active{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
}

#contact{
    cursor: pointer;
}
.btn-fechar{
    width: 100px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    height: 30px;
}
.btn-fechar:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.cont{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}